<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pornflow | Create Channel</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    style="
      background-color: #fafafa;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      font-family: 'Open Sans';
    "
  >
    <center>
      <center
        style="
          background-color: white;
          border: 1px solid rgb(209, 209, 209);
          max-width: 350px;
          margin-top: 50px;
        "
      >
        <img
          src="https://www.socialsnake.ml/10417963pornsflow-2-removebg-preview.png"
          style="width: 150px; margin-top: 50px; margin-bottom: 30px"
          alt=""
        />
        <p style="color: gray">
          Create a Pornflow channel and start uploading videos.
        </p>
        <br />
        <form method="post" enctype="multipart/form-data">
          <input
          type="text"
          style="
            background-color: rgb(250, 250, 250);
            border: 1px solid rgb(200, 200, 200);
            outline: none;
            width: 240px;
            height: 30px;
            margin-right: 5px;
            text-indent: 1rem;
          "
          name="channel_name"
          placeholder="Channel Name"
        />
        <br />
        <br />
        <input
          type="text"
          style="
            background-color: rgb(250, 250, 250);
            border: 1px solid rgb(200, 200, 200);
            outline: none;
            width: 240px;
            height: 30px;
            margin-right: 5px;
            text-indent: 1rem;
          "
          name="channel_description"
          placeholder="Channel Description"
        />
        <br />
        <br />
        <input
          type="file"
          style="
            background-color: rgb(250, 250, 250);
            border: 1px solid rgb(200, 200, 200);
            outline: none;
            width: 240px;
            height: 30px;
            margin-right: 5px;
            padding-top: 1rem;
            padding-left: 5px;
          "
          name="channel_bg"
          placeholder="Channel Name"
        />
        <br />
        <br />
        <button
          style="
            background-color: rgb(115, 164, 255);
            border: none;
            color: white;
            border-radius: 5px;
            width: 250px;
            height: 30px;
            cursor: pointer
          "
          onclick="document.getElementsByTagName('form')[0].submit()"
        >
          Create Channel
        </button>
        <br />
        <br />
        <p style="color: gray; width: 250px">
          You need to be at least 18 years old to create a channel.
        </p>
        </form>
      </center>
    </center>
  </body>
</html>
