<!DOCTYPE html>
<html lang="en" style="overflow-x: hidden">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pornflow | {{ user.username }}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/4246ac988c.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      background-color: #111;
      font-family: 'Poppins';
      width: 100%;
      height: 100vh;
      overflow-x: hidden;
    "
  >
    <center>
      <i
          style="top: 40px; right: 40px; position: fixed; font-size: 2rem; color: violet; border-radius: 500px;"
          onclick="document.location = '/listUserChannels'"
          class="far fa-plus"
        ></i>
        <br />
      <img
        src="https://www.socialsnake.ml/76387506pornsflow-removebg-preview.png"
        alt=""
        style="width: 200px; margin-top: 10px"
      />
    </center>
    <center
      style="color: white; width: 100vw; height: 100px; margin-bottom: 100px"
    >
      <i
        class="fas fa-user"
        style="color: rgb(115, 164, 255); font-size: 2rem"
      ></i>
      <span style="margin-left: 10px; font-size: 1rem; width: 80%"
        >Referral Code: https://pornflow.io/signup?referral=<span
          style="color: violet"
          >{{ user.referral }}</span
        ></span
      >
      <p>
        Short Login Password:
        https://pornflow.io/signin?short_login=<span style="color: violet"
          >{{ user.short_login }}</span
        >
      </p>
      <br />
      <br />
      <span>Liked Videos</span>
      <br />
      <br />
      <span onclick="document.location = '/signout'">Sign Out</span>
      <br>
      {% for i in liked_videos %}
      <video style="width: 80vw" src="/{{ i.video_path }}" controls></video>
      <br>
      <a href="/?video={{ i.id }}" style="cursor: pointer; color: white; text-decoration: none">{{ i.explanation }}</a>
      <br />

      <br />
      {% endfor %}
    </center>
    <span style="opacity: 0">Pornflow</span>
  </body>
</html>
